<h1>Most Delayed Departures by City</h1>
<b><%= @most_delayed['origin_city'] %></b> has the highest quantity of delayed departures (<%= @most_delayed['count'] %>).<br />
<b><%= @least_delayed['origin_city'] %></b> has the lowest quantity of delayed departures (<%= @least_delayed['count'] %>).<br />

