<h1>Most Delayed Arrivals by City</h1>
<b><%= @most_delayed['origin_city'] %></b> has the highest quantity of delayed arrivals (<%= @most_delayed['count'] %>).<br />
<b><%= @least_delayed['origin_city'] %></b> has the lowest quantity of delayed arrivals (<%= @least_delayed['count'] %>).<br />

