<h1>Questions to Answer</h1>

<form method='post' action='/impossible'>
  <select name='carrier'>
    <% @carrier_list.each do |c| %>
      <option value="<%= c['carrier'] %>"><%= c['carrier'] %></option>
    <% end %>
  </select>
  <input type='submit' value='Show It!'>
</form>


How many different airlines are represented in this dataset? <a href='/carriers'>Go</a><br />

Which airline had the largest quantity of delayed arriving flights? Which had the fewest?  <a href='/carrier-delayed-arrivals'>Go</a><br />

Which departing airport had the highest number of delayed flights? Which had the fewest?  <a href='/city-delayed-departures'>Go</a><br />

Which arriving airport had the highest number of delayed flights? Which had the fewest?  <a href='/city-delayed-arrivals'>Go</a><br />

What was the average number of minutes late across all airlines?  <a href='/overall-lateness'>Go</a><br />

What was the average number of minutes late for each airline?  <a href='/carrier-average-lateness'>Go</a><br />
