<h1>Overall Average Latness</h1>
Average departure delay across all carriers: <b><%= @overall['departure'].to_f.round(2) %></b>.<br />
Average arrival delay across all carriers: <b><%= @overall['arrival'].to_f.round(2) %></b>.<br />
